#standardMainFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

#standardVerticalNav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 15%;
}

#standardMainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

#standardHeaderContent {
  margin-bottom: 20px;
}

#standardRightLinksBar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 10%;
}

.eventTile {
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  text-align: center;
}
