rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admin/{document=**} {
      allow read: if request.auth != null;
      allow write: if (request.auth.email == "rajansd28@gmail.com") || (request.auth.email == "llwerner@yahoo.com");
    }
    match /upcomingEvents/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /users/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /archivedUsers/{document=**} {
      allow read, write: if request.auth != null;
    }
    // Allow to increment only the 'visits' field and only by 1.
    match /upcomingEvents/{eventDoc}/_counter_shards_/{shardId} {
      allow get;
      allow write: if request.resource.data.keys() == ["visits"]
        && (resource == null || request.resource.data.visits ==
      resource.data.visits + 1);
    }
  }
}