:root {
    --pageBackgroundColor: #ffffff;
    --navBarBackgroundColor: #ffffff;
    --navBarFontColor: #303030;
    --navBarHoverBackgroundColor: rgba(206, 206, 206, 0.6);
    --navBarLinkFadeDuration: 0.4s;
    --navBarLinkPaddingTopBottom: 20px;
    --navBarLinkPaddingLeftRight: 14px;
    --navBarBottomBorder: 1px solid rgba(48, 48, 48, 0.1);
    --overallFontFamily: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    --searchBarLinkPaddingTopBottom: 10px;
    --searchBarLinkPaddingLeftRight: 10px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--pageBackgroundColor);
}

#mobileSearchButton {
    font-size: small;
    font-weight: 600;
    display: none;
    color: var(--navBarFontColor);
}
#mobileSearchButton:visited {
    color: var(--navBarFontColor);
}


/* Style the navbar */

#navbar {
    overflow: hidden;
    background-color: var(--navBarBackgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: var(--navBarBottomBorder);
}


/* Navbar links */

.navBarLink {
    color: var(--navBarFontColor);
    background-color: var(--navBarBackgroundColor);
    text-align: center;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    font-family: var(--overallFontFamily);
    -o-transition: var(--navBarLinkFadeDuration);
    -ms-transition: var(--navBarLinkFadeDuration);
    -moz-transition: var(--navBarLinkFadeDuration);
    -webkit-transition: var(--navBarLinkFadeDuration);
    transition: var(--navBarLinkFadeDuration);
}

.navBarLink:hover {
    background-color: var(--navBarHoverBackgroundColor);
}

.navBarLink:visited {
    color: var(--navBarFontColor);
}

#leftNav {
    /* float: left; */
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-left: var(--navBarLinkPaddingLeftRight);
    padding-right: var(--navBarLinkPaddingLeftRight);
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
}

#rightNav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    align-content: center;
}

#rightNav a {
    /* float: left; */
    padding-left: var(--navBarLinkPaddingLeftRight);
    padding-right: var(--navBarLinkPaddingLeftRight);
    padding-top: var(--navBarLinkPaddingTopBottom);
    padding-bottom: var(--navBarLinkPaddingTopBottom);
    width: auto;
    /* display: block; */
}

#navBarLogoA {
    padding-left: var(--navBarLinkPaddingLeftRight);
    padding-right: var(--navBarLinkPaddingLeftRight);
    padding-top: 0;
    padding-bottom: 0;
}


/*Search Box*/

#search-container {
    padding-left: var(--navBarLinkPaddingLeftRight);
    padding-right: var(--navBarLinkPaddingLeftRight);
    height: max-content;
}

#navBarSearchBox {
    border: none;
    height: 100%;
    padding-top: var(--searchBarLinkPaddingTopBottom);
    padding-bottom: var(--searchBarLinkPaddingTopBottom);
    padding-left: var(--searchBarLinkPaddingLeftRight);
    padding-right: var(--searchBarLinkPaddingLeftRight);
    background-color: #eeeeee;
    -o-transition: var(--navBarLinkFadeDuration);
    -ms-transition: var(--navBarLinkFadeDuration);
    -moz-transition: var(--navBarLinkFadeDuration);
    -webkit-transition: var(--navBarLinkFadeDuration);
    transition: var(--navBarLinkFadeDuration);
    transition-property: border;
    /* size: 100; */
}

#navBarSearchBox:focus {
    outline-width: 5px;
    outline-color: blue;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(48, 48, 48, 0.5);
    font-family: var(--overallFontFamily);
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

#mobileExitSearchButton {
    color: var(--navBarFontColor);
    font-size: small;
    font-weight: 600;
    width: 10%;
    display: none;
}
#mobileExitSearchButton:visited {
    color: var(--navBarFontColor);
}

@media only screen and (max-width: 800px) {
    #mobileSearchButton {
        display: block;
    }
    #search-container {
        display: none;
    }
    #navBarSearchBox {
        width: 100%;
    }
}