body {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #414042;
    background: #fcb10d;
    background: -moz-linear-gradient(0deg, #fcb10d 0, #fcb10d 44%, rgba(252, 177, 13, .75) 80%, rgba(252, 177, 13, .7) 100%);
    background: -webkit-linear-gradient(0deg, #fcb10d 0, #fcb10d 44%, rgba(252, 177, 13, .75) 80%, rgba(252, 177, 13, .7) 100%);
    background: linear-gradient(0deg, #fcb10d 0, #fcb10d 44%, rgba(252, 177, 13, .75) 80%, rgba(252, 177, 13, .7) 100%);
    padding: 0;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#image {
    text-align: center;
    margin: 0 auto 20px auto
}

#image img {
    max-width: 80%
}