#eventDetails {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

#eventDetails div {
    width: 50%;
    height: 100%;
    display: block;
}

#eventImageMain {
    width: 30%;
    height: auto;
}